@model IEnumerable<general_eye.Models.user>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="table-responsive table-bordered">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <a asp-action="Create" class="btn btn-success">
                        <i class="material-icons">sentiment_very_satisfied</i>
                        <span>اضافه کردن کاربر جدید</span>
                    </a>
                    @*<a asp-action="Create" class="btn btn-info">
                        <i class="material-icons">archive</i>
                        <span>انتقال به اکسل</span>
                    </a>*@
                </div>
                <div class="col-sm-6 text_header">
                    مدیریت کاربران
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.flname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.admin)
                    </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.flname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        @if (item.admin == true)
                        {
                            <td>
                                <span>بله</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span>خیر</span>
                            </td>
                        }

                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.user_id">
                                <i class="material-icons">sentiment_neutral</i>
                                ویرایش کاربر
                            </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.user_id">
                                <i class="material-icons">sentiment_very_dissatisfied</i>
                                حذف کاربر
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.flname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userpass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.flname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userpass)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.user_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.user_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.user_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
